<div class="root">
    {{> nav}}
    {{> sidebar}}

    <div class="home">
        <div class="container shadow">
            <img id="users" src="../img/users.png" alt="">
            <div id="users-number" class="users">50K</div>
            <div>Total Users</div> 
        </div>
    </div>       
</div>