<nav class="navbar navbar-expand-md shadow-lg mb-5">
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/login">Logout</a>
        </div>
    </div>

    <div class="collapse navbar-collapse mx-auto" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            <a href="/" class="nav-item nav-link active"><img id="logo" src="../img/bingo-logo-name.png" alt=""></a>
        </div>
    </div>
    <div class="navbar-nav ml-auto open-menu">
                <a href="#" class="nav-item nav-link "><img id="open-menu" onclick="openNav()" src="../img/open-menu.png" alt=""></a>
            </div>

</nav>