<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="profile" href="/admin/profile">
    <img id="admin-photo" src="../img/profile-photo.png" alt="">
    <div id="admin-name">Ahmad Ahmad</div>
  </a>
  <a href="/pages/home">Home</a>
  <a href="/pages/categories">Categories</a>
  <a href="/pages/users">Users</a>
  <a href="/pages/about">About Us</a>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "17%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>