<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BingO - Admin Panel</title>
</head>
<body>
    <h1>BingO Project</h1>
    <hr>
    <div>
        {{{body}}}
    </div>
</body>
</html>